.pdf-insight-builder__wrapper {
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
}
@media (min-height: 768px) {
  .pdf-insight-builder__wrapper:has(.pdf-table-collapsed) {
    height: auto;
    max-height: auto;
    overflow-y: hidden;
  }
}

@media (max-width: 1024px) {
  .pdf-insight-builder__wrapper {
    height: auto;
    max-height: auto;
    overflow-y: auto !important;
  }
}
