.pdf-insight-builder__wrapper {
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
}
@media (min-height: 768px) {
    .pdf-insight-builder__wrapper {
      overflow: hidden;
    }
  }
@media (max-width: 768px) {
  .pdf-insight-builder__wrapper {
    height: auto;
    max-height: auto;
  }
}
