.pdf-insight-builder__wrapper {
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  &:has(.pdf-table-expanded) {
    .table-footer {
      margin-top: -20px !important;
    }
  }
}
@media (min-height: 1200px) {
  .pdf-insight-builder__wrapper:has(.pdf-table-collapsed) {
    height: auto;
    max-height: auto;
    overflow-y: hidden;
  }
}

@media (max-width: 1024px) {
  .pdf-insight-builder__wrapper {
    height: auto;
    max-height: auto;
    overflow-y: auto !important;
  }
}
