.table-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdf-dataset-table {
  .dataset-table {
    max-height: 75vh;
    overflow-y: scroll;
    padding-bottom: 48px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .MuiTableCell-root {
    line-height: 16px;
    padding: 12px 8px !important;
    border-bottom: none !important;
  }
  .MuiTable-root {
    // line-height: 10px;
    border-bottom: none !important;
    color: $pdf-med;
  }
}

.pdf-filter-item {
  .filter-button {
    background-color: $pdf-med-light;
    color: $pdf-blue-muted-medium;
    padding: 2px 8px;
    text-transform: none;
    border-radius: 4px;
    .button-filter-label {
      max-width: 240px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
  .filter-label {
    color: $pdf-blue-muted-medium !important;
  }
}

.pdf-dataset-row {
  &:hover {
    background-color: $pdf-lightest-transparent;
  }
  .MuiTableCell-root {
    max-width: 180px;
    min-width: 32px;
    line-height: 10px;
    border-bottom: none;
    color: $pdf-med;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.model_name {
      font-weight: 500;
      // color: $pdf-med-dark;
    }
  }
}

.table-footer {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 100;
  margin-top: -140px;
  width: 100%;
  position: relative;
  pointer-events: none;
  background: linear-gradient(0deg, $pdf-lightest, transparent);
  display: flex;
  height: 120px;
  margin-bottom: 8px;

  .text-we-are-analyzing {
    font-size: 20px;
    font-weight: 500;
    color: $pdf-med-dark;
    background-color: $pdf-lightest;
    padding: 16px 32px;
    .active-count {
      font-weight: 1000;
      color: $pdf-blue-accent;
    }
    .total-count {
      font-weight: 1000;
      color: $pdf-blue-primary;
    }
  }
  .btn--display-all {
    clear: both;
    pointer-events: auto;
    background-color: $pdf-lightest-transparent;
    box-shadow: $pdf-shadow;
    transition: all 0.4s ease-in-out;

    &:hover {
      outline: 1px solid $pdf-light;
      scale: 1.2;
      margin-bottom: -8px;
    }
  }
}
