.pdf-dataset-table {
  .MuiTableCell-root {
    line-height: 16px;
    padding: 12px 8px !important;
    border-bottom: none !important;
  }
  .MuiTable-root {
    // line-height: 10px;
    border-bottom: none !important;
    color: $pdf-med;
  }
}

.pdf-filter-item {
  .filter-button {
    background-color: $pdf-med-light;
    color: $pdf-blue-muted-medium;
    padding: 2px 8px;
    text-transform: none;
    border-radius: 4px;
  }
  .filter-label {
    color: $pdf-blue-muted-medium !important;
  }
}

.pdf-dataset-row {
  &:hover {
    background-color: $pdf-lightest-transparent;
  }
  .MuiTableCell-root {
    max-width: 180px;
    min-width: 32px;
    line-height: 10px;
    border-bottom: none;
    color: $pdf-med;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.model_name {
      font-weight: 500;
      // color: $pdf-med-dark;
    }
  }
}
