.pdf-your-data {
  background-color: $pdf-lightest;
  min-height: 240px;
}

.dataset-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .MuiMenuItem-root,
  .met {
    display: block;
    .dataset-title {
      font-size: 36px !important;
    }
    .dataset-description {
      -webkit-line-clamp: none;
      overflow: visible;
      text-overflow: auto;
    }
  }
}

.MuiPaper-root:has(.pdf-dataset-item) {
  max-width: 560px;
}

.pdf-dataset-item {
  max-width: 100%;
  &:hover {
    background-color: $pdf-med-light;
    .dataset-title,
    .dataset-meta,
    .dataset-description {
      color: $pdf-darkest;
    }
  }
  &.dataset-item--active {
    background-color: $pdf-lightest;
    .dataset-title {
      color: $pdf-blue-primary;
    }
  }
  .meta-holder {
    display: block;
  }
  .title-favorite-holder {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }

  .dataset-title {
    font-size: 24px !important;
    line-height: 32px;
    font-weight: 1000;
    color: $pdf-blue-muted-medium;
  }
  .dataset-meta {
    font-size: 16px;
    color: $pdf-med;
    margin-bottom: 4px;
    font-weight: 500;
  }
  .dataset-description {
    font-size: 14px;
    line-height: 20px;
    color: $pdf-med;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 8px;
  }
  .dataset-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border-radius: 36px;
    &:hover {
      background-color: $pdf-lightest-transparent;
    }
  }
}
