// Primary palette
$pdf-blue-primary: #00194d;
$pdf-blue-accent: #428be4;

// Grayscale tones
$pdf-darkest: #232933;
$pdf-med-dark: #535965;
$pdf-med: #8d929c;
$pdf-med-light: #cfd3da;
$pdf-lightest: #eef1f7;
$pdf-lightest-transparent: hsl(219, 21%, 87%);

// Muted blues
$pdf-blue-muted-medium-light: #8daacd;
$pdf-blue-muted-medium: #576c99;

$color-variables: (
  pdf-blue-primary: $pdf-blue-primary,
  pdf-blue-accent: $pdf-blue-accent,
  pdf-darkest: $pdf-darkest,
  pdf-med-dark: $pdf-med-dark,
  pdf-med: $pdf-med,
  pdf-med-light: $pdf-med-light,
  pdf-lightest: $pdf-lightest,
  pdf-lightest-transparent: $pdf-lightest-transparent,
  pdf-blue-muted-medium-light: $pdf-blue-muted-medium-light,
  pdf-blue-muted-medium: $pdf-blue-muted-medium,
);
